<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
  "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Test File</title>
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/pv_print.css" />
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/modernizr.js"></script>
</head>

<body>
  <!-- Top Line-->
  <div class="row small-12 top-logos">
    <img src="img/ens-logo.png" alt="ens-logo" />
    <img class="seal" src="img/seal.png" alt="enugu-seal" />
  </div>
  <!-- End Top Line-->

  <!-- Head-->
  <h1 class="page-title row small-12">
    PAYMENT VOUCHER
  </h1>

  <!-- PV main data-->
  <table class="main-data">
    <tbody>
      <tr>
        <th>PV Num</th>
        <td class="focus">ENSUBEB/240201/5001/0001</td>
      </tr>
      <tr>
        <th>Lot Number</th>
        <td class="focus">301-16-4TH</td>
      </tr>
      <tr>
        <th>Payment Type</th>
        <td class="focus">Net Pay</td>
      </tr>
      <tr>
        <th>Payee</th>
        <td class="focus">Julius Berger Nig Ltd.</td>
      </tr>
      <tr>
        <th>Address</th>
        <td class="focus">No 13 Akutu Cresent Independence Layout, Enugu, Nigeria</td>
      </tr>
      <tr>
        <th>Project Title</th>
        <td class="focus">Renovation of Schools in Agbani</td>
      </tr>
      <tr>
        <th>Details</th>
        <td class="text-wrap">Aliquip exputo meus modo refoveo suscipit uxor valde wisi. Appellatio duis gemino nutus tincidunt vicis vulputate.
          Eros inhibeo premo. Autem caecus haero hos humo in incassum odio pecus. Eligo ille suscipere ymo. Lobortis patria
          plaga utrum. Eum ibidem no</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <!-- FOOTER START -->
  <strong>PAYMENT SUMMARY</strong>
  <div class="print-prompt row">
    <table class="payment-summary">
      <tbody>
        <tr>
          <th>PAYMENT TYPE:</th>
          <td>VALUE ADDED TAX</td>
        </tr>
        <tr>
          <th>PAYMENT AMOUNT:</th>
          <td>&#8358; 30,000,000</td>
        </tr>
        <tr>
          <th>PAYMENT DATE:</th>
          <td>October 10, 2015 4:04:07AM</td>
        </tr>
        <tr class="tracking">
          <th>PAYMENT TRACKING CODE:</th>
          <td>240201/5001/0001</td>
        </tr>
      </tbody>
    </table>
    <div class="qr-code">
      <img class="qr-image" src="https://api.qrserver.com/v1/create-qr-code/?size=120x120&data=PV:ENSUBEB/240201/5001/0001" alt="QR-code">
      <div><strong>PV:ENSUBEB/240201/5001/0001</strong></div>
      <div class="qr-footer">This Payment Voucher can be uniquely identified by this QR-CODE</div>
    </div>
    <hr>
    <div class="disclaimer left">
      <p>
        <strong>Important Information</strong>
      </p>
      <p> The information in this document shall not be disclosed outside Enugu State Universal Basic Education Board and shall
        not be duplicated, used or disclosed in whole or in part for any purpose other than for the intended use.This information
        is auto-generated by The Enugu State Universal Basic Education Board Automated Project Management System. This is
        a sensitive document, any unauthorized use of this document would attract the appropriate consequences.</p>
    </div>
    <div class="disclaimer right">
      <p>
        <strong>Certificate</strong>
      </p>
      <p>
        It is certified that the above information is correct and was incrred under the relevant financial authority or other regulations
        quoted that services have been dully performed and that the rate/price charge is according to regulations/contract,
        fair and reasonable.
      </p>
    </div>
  </div>
</body>

</html>